<footer>
    <div class="footer-info-full">
        <div class="footer-info">
            <i class="fab fa-instagram"></i>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-telegram"></i>
        </div>
        <div class="footer-copy">
            <h4>© 2024 MAKEMYTRIP PVT. LTD.</h4>
            <p>Country-India USA UAE</p>
        </div>
    </div>
</footer>